@import "tailwindcss";

@theme {
  --color-beige: #ede8d0;
  --color-burnt-orange: #cc5500;
  --color-chocolate-brown: #411900;
  --color-light-brown: #fcfcfc;
  --color-dark-black: #100f0f;
  --color-primary: #636363;

  --font-cairo: "Cairo", sans-serif;
  --font-lovers-quarrel: "Lovers Quarrel", cursive;

  --spacing: 1440px;
  --mobile-spacing: 90%;
}
