@import "tailwindcss";

@theme {
  --color-beige: #ede8d0;
  --color-burnt-orange: #cc5500;
  --color-chocolate-brown: #411900;
  --color-light-brown: #fcfcfc;
  --color-dark-black: #100f0f;
  --color-primary: #636363;

  --font-cairo: "Cairo", sans-serif;
  --font-lovers-quarrel: "Lovers Quarrel", cursive;

  --spacing-web-max: 1440px;
  --spacing-mobile-max: 90%;
}

.bg-cream {
  background-color: #f6ecd7;
}
.text-cream {
  color: #f6ecd7;
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
  }
}
